:root {
    --primario: #6C5CE7;
    --texto-primario: #2D3436;
    --texto-secundario: #636E72;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* main */
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}
/* titulo de bienvenida */
.area-titulo{
    text-align: center;
    font-size: 3rem;
    color: var(--texto-primario);
}
/* boton para agregar area */
.nueva-area-contenedor {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}
.nueva-area {
    padding-bottom: 5px; 
    width: 40px;
    height: 40px;
    background-color: var(--primario);
    color: white;
    border: 2px solid var(--primario);
    border-radius: 50%;
    transition: background-color 0.6s ease, color 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 20px 0;
}
.nueva-area a {
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
    transition: color 0.6s ease;
}
/* Hover: fondo blanco y texto morado */
.nueva-area:hover {
    background-color: white;
    color: var(--primario);
}
.nueva-area:hover a {
    color: var(--primario);
}
/* tarjetas de las areas */
.area-contenedor{
    margin: 10px;
    width: 330px; height: 280px;
    position: relative;
    z-index: 1;
}
.color-fondo{
    width:290px; height: 250px;
    position: absolute;
    z-index: -1;
    top: 5px; left: 5px;
    border-radius: 10px;
}
.area{
    width:290px; height: 250px;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 0 20px; 
}
.area p{
    font-size: 1.2rem;
    color: var(--texto-secundario);
    height: 120px;
    width: 230px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.area-header{
    display: flex;
    align-items: center;
    height: 40px; width: 100%;
    margin-bottom: 20px;
}
.area-header h2{
    /* text-align: center; */
    width:240px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--primario);
}
/* icono del meni tres puntos */
.confuguracion-area{
    width: 25px; height: 25px;
    position: absolute;
    cursor: pointer;
    justify-content: center; align-items: center;
    top: 8px; right: 50px;
    border: none;
}
.confuguracion-area img{
    width: 20px; height: 15px;
}
.confuguracion-area:hover{
    background-color: rgba(92, 91, 92, 0.2);
    border-radius: 5px;
}
/* boton de ver mas  */
.ver-mas {
    margin-top: auto; margin-bottom: 10px;
    width: 180px; height: 40px;
    border-radius: 10px;
    border: solid 2px #6C5CE7; 
    background-color: #6C5CE7;
    color: white;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.ver-mas a {
    text-decoration: none;
    color: white;
    z-index: 1;
    transition: color 0.3s ease;
}
/* animacion del boton de ver mas */
.ver-mas::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(0);
    transition: width 1s ease;
    z-index: 0;
}
.ver-mas:hover::after {
    width: 100%;
    left: 0;
    right: auto;
    background-color: white;
}
.ver-mas:hover a {
    color: #6C5CE7;
}
/* contenedor */
.area-contenedor, .area, .area-menu, .confuguracion-area{
    display: flex;
    flex-direction: column;
}
 .area-header h2, .area-header img, .area p, .confuguracion-area, .area-menu li, .area-menu a, .ver-mas a, .area-menu h2, .area-header, .nueva-area a,.area-contenedor{
    background-color: transparent;
}
/* menu desplegable de configuracion */
.area-menu{
    background-color: #ffffff;
    width: 100px; height: 90px;
    position: absolute;
    top:35px; right:0px;
    border-radius: 5px;
    justify-content: center;
    padding: 0 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
}
.area-menu li{
    list-style: none;
    margin-top: 2px;
    padding: 0 0 5px 3px;
    height: 23px;
    justify-content: center;
}
.area-menu li:hover{
    border-radius: 3px;
    background-color:rgba(92, 91, 92, 0.2);
}
.area-menu a{
    text-decoration: none;
    font-size: .8rem;
    color: var(--texto-primario);
    font-weight: 600;
}
.area-menu h2{
    font-size: .8rem;
    color: var(--texto-primario);
    margin-bottom: 5px;
}
/* activo menu desplegable */
.area-menu.activo {
    display: flex;
}
