/* Links de acción (editar/eliminar) */
.link-accion {
  margin: 0 5px;
  text-decoration: none;
  font-weight: 600;
}

.link-accion.editar {
  color: rgb(106, 190, 216);
}

.link-accion.eliminar {
  color: rgb(189, 108, 108);
}

/* Formulario para crear/editar horarios */
.formulario-horario {
  width: 90%;
  padding: 30px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario-horario label {
  font-weight: 600;
  color: var(--texto-primario);
}

.formulario-horario input,
.formulario-horario textarea,
.formulario-horario select {
  border: none;
  border-radius: 8px;
  background-color: var(--fondo-claro);
  padding: 10px;
}

.formulario-horario input:focus,
.formulario-horario textarea:focus,
.formulario-horario select:focus {
  outline: var(--primario) solid 2px;
}

/* Botones del formulario (guardar, cancelar) */
.formulario-horario button,
.formulario-horario a {
  width: fit-content;
  border: 1px solid var(--primario);
  background-color: transparent;
  color: var(--primario);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.formulario-horario button:hover,
.formulario-horario a:hover {
  background-color: var(--primario);
  color: white;
}