:root {
    --primario: #6C5CE7;
    --secundario:lightblue;
    --texto-primario: #2D3436;
    --texto-secundario: #636E72;
    --fondo-oscuro:#2d3436;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* header del landingpage */
.landing-header {
    padding: 20px 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgba(68, 77, 80, 0.3);
}
/* logo (peoplepro) */
.logo{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 900;
    color:#b895e6;
    padding-bottom: 5px;
}
/* barra de navegacion */
.landing-nav{
    display: flex;
    width: 50%; 
    height: 50px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.landing-header li {
    display: inline-block;
    padding: 10px;
}
.landing-nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    transition: all 0.5s linear;
}
.landing-nav a:hover {
    text-decoration: 2px #A593E0 underline ;
    transition: all 0.3s linear;
}
/* boton de login */
.login{
    background-color: transparent;
    padding: 10px;
    text-decoration: none;
    color: var(--secundario);
    font-weight: 400;
    border: 1px solid var(--secundario);
    transition: all 0.3s ease;

}
.login:hover {
    background-color: var(--secundario);
    color: white;
    transition: all 0.5s ease;
}
