:root {
    --primario: #A593E0;
    --secundario:lightblue;
    --texto-primario: #2D3436;
    --texto-secundario: #636E72;
    --fondo-oscuro:#0F0F0F;
}
body{
    background-color:var(--fondo-oscuro);
}
/* formato de contenedor para las secciones */
.contenedor{
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    z-index: 2;
}
.contenedor-texto{
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}
.titulo-landing{
    font-size: 8vh;
    color: rgb(147, 197, 214);
    text-align: center;
    margin-bottom: 20px;
    width: 90%;
    z-index: 2;
}
.titulo-landing span{
    text-decoration: underline var(--primario);
}
.parrafo-landing{
    font-size: 2.5vh;
    color: white;
    text-align: center;
    width: 55%;
    margin-bottom: 20px;
    opacity: 0.8;
    z-index: 2;
    z-index: 2;
}
.contenedor img{
    height: 60vh;
    width: 35vw;
    align-self: center;
    margin-right: 20px; margin-top: 20px;
    z-index: 2;
}
/* boton de conoce mas  */
.boton-home a{
    background-color: transparent;
    border: 1px solid var(--secundario);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 2;
    text-decoration: none;
    color: var(--secundario);
}
.boton-home{
    background-color: transparent;
    border: none;
}
.boton-home a:hover{
    background-color: var(--secundario);
    color: white;
    transition: all 0.8s;
}
/* sobre nosotros parrafos */
.titulo-nosotros{
    margin-top: 150px;
}  
.contenedor-tarjetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.tarjeta{
    display: flex;
    justify-content: center; align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primario);
    width: 350px; 
    height: 100%;
}
.tarjeta:hover{
    background-color: white;
    color: var(--texto-primario);
    transition: all 0.3s ease;
    border: none;
}
/* tarjetas servicios */
.contenedor-servicios, .contenedor-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.tarjeta1 h5{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10px;
}
.tarjeta1 p{
    font-size: .9rem;
    text-align: center;
    margin-bottom: 10px;
    width: 90%;
}
.tarjeta1 img{
    width: 60px; height: 60px;
    margin-bottom: 10px;
}
.tarjeta1{
    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primario);
    width: 350px; 
    margin-top: 20px;
    color: white;
}
.tarjeta1:hover{
    background-color: white;
    color: var(--texto-primario);
    transition: all 0.3s ease;
    border: none;
}
.contenedor-tarjetas-servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 0 20px;
}
/* formulario de contactanos */
.fondo-formulario{
    background-color: rgba(68, 77, 80, 0.3);
    width: 30%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario-contacto{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-contacto{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}
.form-control{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(233, 231, 231);
    color: var(--texto-secundario);
    margin-top:5px;
}
.form-label{
    font-weight: 600;
    color: var(--secundario);
}
.form-control:focus{
    outline: 2px solid rgb(111, 204, 235);
}
/* boton de contacto */
.boton-contacto{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--secundario);
    background-color: transparent;
    color: var(--secundario);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.boton-contacto:hover{
    background-color: var(--secundario);
    color: white;
    transition: all 0.3s ease;
}
/* footer */
.landing-footer{
    width: 100%;
    height: 100px;
    background-color: rgba(68, 77, 80, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.landing-footer p{
    font-size: 1rem;
    text-align: center;
    margin: 0 60px 0 10px;
}
.contenedor-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
