*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    background-color: var(--fondo);
}
/* header */
.header {
    position: sticky;
    top: 0;
    background-color: var(--fondo-header);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    box-shadow: var(--box-shadow);
    z-index: 8888;
}
/* div izquierda con el logo y el menu hamburguesa */
.izquierda {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-hamburguesa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    gap: 5px;
    cursor: pointer;
    z-index: 8888;
    border: none;
}
.menu-hamburguesa:hover {
    border-radius: 50%;
    background-color:  rgba(92, 91, 91, 0.2);
    transition: all 0.2s ease-in-out;
}
.linea {
    position: relative;
    width: 20px;
    height: 2px;
    background-color: var(--color-icono-menu);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
/* Estados normales */
.menu-hamburguesa .linea:nth-child(1),
.menu-hamburguesa .linea:nth-child(3) {
    top: 0;
    transform: rotate(0deg);
}

.menu-hamburguesa .linea:nth-child(2) {
    opacity: 1;
    visibility: visible;
}
/* Estados activos (hamburguesa abierta) */
.menu-hamburguesa.activo .linea:nth-child(1) {
    top: 7px;
    transform: rotate(45deg);
}

.menu-hamburguesa.activo .linea:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

.menu-hamburguesa.activo .linea:nth-child(3) {
    top: -7px;
    transform: rotate(-45deg);
}
/* logo aimacion */
#logo {
    font-size: 24px;
    white-space: pre-wrap;
    padding: 0 5px 5px 0;
    animation: blink-caret 0.75s step-end infinite;
    color: var(--color-logo);
    font-family: "Libre Franklin", sans-serif;
    font-weight:900;
    margin-left: 20px;
    z-index: 7777;
    width: 150px;
    }
/* nav desplegable  */
.nav-desplegable{
    position: fixed; 
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    padding: 60px 0;
    background-color: var(--fondo-header);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 7777;
}
.nav-desplegable.open{
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}
/*nav desplegabe por dentro*/
/* contenedor */
.nav-lista{
    height: auto;
    width: 90% !important;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.nav-lista hr{
    border: none;
    height: 2px;
    background-color: var(--texto-primario);
    margin: 2rem 0;
}
/* lista */
.nav-lista  li{
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
    height: auto; width: 100% !important;
}
/* texto de la lista */
.nav-lista  a{
    text-decoration: none;
    color: var(--texto-primario);
    font-size: 1.8rem;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
}
/* hover del menu */
.nav-lista a:hover{
    color: var(--color-icono-menu);
    text-decoration: underline 2px var(--color-icono-menu);
}
.nav-lista li, .nav-lista a, .nav-lista {
    width: 250px;
}
/* barra de busqueda */
.buscador{
    display: flex;
    justify-content: center;
}
.input-buscador{
    padding: 8px 10px 8px 25px;
    background-size: 16px 16px;
    border: 2px solid var(--color-buscador);
    border-radius: 20px 0 0 20px;
    font-size: 14px;
    outline: none;
    width: 400px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 500;
    overflow: hidden;
    color: #3d3f41;
}
.input-buscador:focus {
    border-color: var(--color-icono-menu);
}
.buscador-icono{
    border: none;
    padding: 6.2px 10px;
    border-radius: 0 20px 20px 0;
    background-color: var(--color-buscador);
}
.bi-search{
    color: white;
}
/* div derecha con el nombre y el icono de usuario */
.derecha {
    display: flex;
    align-items: center; justify-content: center;
    width: 220px; height: 40px;
}
.derecha p{
    margin-top: 15px;
}
.derecha, .izquierda, .buscador, .menu-hamburguesa, 
#logo, .nav-lista li, .nav-lista a, .nav-lista {
    background-color: transparent; 
    box-sizing: border-box;
}
/* titulo de bienvenida al usuario */
.tituloBienvenida{
    text-align: center;
    font-size: 3.5rem;
    margin-top: 5px;
    color: #2D3436;
}
@media screen and (max-width: 1068px) {
    .input-buscador {
        width: 100px;
    }
}
/* menu desplegable para cerrar la secion y el tema */
.nav-seccion{
    background-color: var(--fondo-header);
    box-shadow: var(--box-shadow);
    width: 170px; height: auto;
    top: 65px; right: 10px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    display: none;
}
.nav-seccion li{
    list-style: none;
    width: 95%; height: auto;
    padding: 5px; margin-top: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
#tema-select{
    width: 75%;
    background-color: transparent;
    border: none;
    color: var(--texto-primario);
}
.nav-seccion a{
    text-decoration: none;
    color: var(--texto-primario);
}
.nav-seccion.open{
    display: block;
}
/* foto de perfil del usuario el cual abre el menu */
.bi-button{
    background-color: transparent;
    border: none;
    margin-left:5px;
}
.bi-gear{
    color: var(--color-icono-menu); 
}