*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.formulario-usuario{
    width: 95%;
    height: auto;
    padding:20px;
    box-shadow: var(--box-shadow);
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--fondo-header);
    overflow: hidden;
}
.formulario-usuario input{
    border: none;
    border-radius: 8px;
    background-color: var(--fondo);
    padding: 10px;
    width: 200px;
    color: var(--texto-primario);
}
.formulario-usuario input:focus, .formulario-usuario select:focus{
    outline: lightblue solid 2px;
}
.formulario-usuario button{
    border: 1px solid lightblue;
    background-color: transparent;
    color: lightblue;
    border-radius: 8px;
    padding: 10px;
    transition: all 0.3s;
}
.formulario-usuario button:hover{
    background-color: lightblue;
    color: white;
    transition: all 0.8s;
}
.formulario-usuario select{
    background-color: var(--fondo);
    border: none;
    border-radius: 8px;
    padding: 10px;
    color:var(--texto-primario);
}
.formulario-usuario select option[selected]{
    background-color: var(--fondo-claro);
}
.main-usuario{
    width: 95%;
    padding: 30px;
    box-shadow: var(--box-shadow);
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--fondo-header);
    overflow: hidden;
}
#myTable {
  border-radius: 12px;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}
#myTable thead th {
  background-color:rgb(78, 78, 78);
  color: white;
  font-weight: bold;
  text-align: center;
}
#myTable tbody td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-weight: 500;
}
.bi-clipboard-check, .bi-pencil-fill, .bi-trash3-fill {
    font-size: 1.3rem;
    margin-right: 5px;
}
.bi-trash3-fill{
    color: rgb(189, 108, 108);
}
.bi-pencil-fill{
    color: rgb(106, 190, 216);
}
#myTable tbody td a{
    text-decoration: none;
}